<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
	<title>C2Kbin - <%= post.title %></title>
</head>

<body>

  <header class="page-header">
    <h1><%= post.title %></h1>
  </header>

	<main>
    <% if (post.author != "") {%>
		<span class="form-group">
      <div class="display-label">Author:</div>
      <div id="author">
        <%= post.author %>
      </div>
    </span><br>
    <% } %>
    <span class="form-group">
      <div class="display-label">Content:</div>
      <pre id="content"><%= post.content %></pre>
    </span><br>
  </main>

</body>

</html>