<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C2Kbin - Test post</title>
    <style>

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main {
            display: flex;
            flex-direction: column;
            width: 50vw;
            max-width: 500px;
        }

        #content {
            min-height: 150px;
        }
    </style>
</head>
<body>
    <main>
        <span>Title:</span>
        <span id="title">Test title</span><br>
        <span>Author:</span>
        <span id="author">Test author</span><br>
        <span>Content:</span>
        <pre id="content">Test content</pre>
    </main>

</body>
</html>